.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@import '../node_modules/primereact/resources/primereact.min.css';
@import '../node_modules/primereact/resources/themes/omega/theme.css';
@import '../node_modules/font-awesome/css/font-awesome.css';